*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: white;
}
.grid-container{
  display: grid;
  grid-template-columns: 550px auto;
  column-gap: 50px;
  row-gap: 50px;
}
.grid-item{
  /* border: 1px white solid; */
}
.item1{
  grid-column-start: 1;
  grid-column-end: 3;
}
body{
  background-image: url('bgnd.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.hero
{
  height: 100vh;
  width: 100%;
  /* background-image: url(bgnd.jpg);
  background-size: cover;
  background-position: center; */
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;

}
.fit{
  color: #F9004d;
  font-family: 'Ubuntu', sans-serif;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: #F9004d;
  transition: 0.7s;
}
.btn{
  background-color: #F9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .6s ;
}
.btn:hover{
  transform: scale(1.2);
}
.form{
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  
}
h1{
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}
.logo1{
  color: white;
  font-size: 60px;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;}

  /* .logo1:hover{
    color: #F9004d;
  } */

.greet{
  color: white;
   font-size: 35px;
  font-weight: bolder;
  margin:20;
}
.tagline{
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-top: 10px;
}
form{
  margin-top: 30px;
}
.red{
  color: #F9004d;
}
.form-caption{
  color: white;
  font-size: 18px;
  margin-top: 100px;

}
#mail{
  margin-top: 20px;
  width: 40%;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  color: black;
}
#mail::placeholder{
  text-align: center;
  font-size: 15px;
  color: black;
}
.submit-btn{
  /* border: 2px solid #F9004d; */
  border-radius: 5px;
  padding: 10px 36px;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  color: black;
}
.submit-btn:hover{
  background-color: #F9004d;
  color: white;

}

.tagline:hover{
color: #F9004d;
cursor: pointer;
transition-delay: 0.4s;
transition: 0.7s;
}
.steps{
  height: 100vh;
  width: 100%;
  /* background-image: url(bgn2.jpg); */
  background-size: cover;
  background-position: center;
  /* padding-top: 100px; */
  margin-top: 100px;
  text-align: center;
  color: white;
}
.about{
  width: 100%;
  padding: 10px 0;
  /* background-color: #191919; */
}
.about video{
  border-radius: 10px;
  justify-content: center;
  margin: 0 45px;
}
.videoo{
  height: auto;
  width: 430px;
  margin: 10px 10px;
  justify-content: center;}
/* }the about us class to be displayed in centre of two grid elemets */
.abt{  
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  /* text-decoration: underline; */
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  transition: transform 0.6s;
}
.abt:hover{
  text-decoration: none;
  color: #F9004d;
  cursor: pointer;
}
.item3{
  text-align: center;
}
.para{
  margin: auto;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;}
  .sub-hding{
    color: #F9004d;
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.6s;
    text-align: center;
  }
  .sub-hding:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  .joinus{
    align-items: center;
    color: black;
    margin-left: auto;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    }
  .ipbox{
    color: black;
    width: 20%;
    height: 40px;
    padding: 10px 7px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
   
  }
  .desc{
    text-align: center;
    margin: 20px 0px;
  }
  footer{

  }
.fit1{
  color: #F9004d;
  font-family: 'Ubuntu', sans-serif;}
/* .fit1:hover{
  color: white;
} */
.bmi{
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 30%;
  margin-right: 30%;
  letter-spacing: 1px;
}
input.bmi{
  border: 1px solid white;
}
.btn1{
  margin-left:37% ;
  margin-top: 40px;
}
#height, #weight{
  border: 1px solid white;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  
}
.sam{
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  
}
.ashin{
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
 font-weight: bolder;
}
.h-icon{
  height: 50px;
  width: auto;
  margin-top: 5px;
}
#jsvar{
  text-align: center;
  margin: 20px;
}
.float-container {
  /* border: 3px solid #fff; */
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.float-child {
  width: 20%;
  height: 40%;
  float: left;
  /* padding: 20px; */
  /* border: 2px solid #F9004d; */
  border-radius: 5px;
  margin: 0 20px;
  /* background-color: white; */
  align-items: center;
  justify-content: center;
  transition: transform 1.5s;
  cursor: pointer;
}  
.serv-img{
  width: 80%;
  align-items: center;
  margin-left: 34px;
  margin-top: 0;
  border-radius: 20px;
  
}
.serv-txt{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  transition: transform 1s;
  cursor: pointer;
}
.float-child:hover{
  color: #F9004d;
  transform: scale(1.1);
}
.login{
  text-align: center;
  
}
.login *{
  margin-bottom: 10px;
}
